:root {
    --green-hr: rgb( 202, 230, 117);

    --green-ligth: rgb(229, 249, 189);
    --green-fluor: rgb(160, 228, 24);
    --green-dark: rgb( 127, 180, 20);
    --black-pc: rgb(82, 80, 80);

    --gray-shadow: rgba(0,0,0,.4);
    --gray-shadow-dark: rgb(61, 58, 58);



    --green-pc: rgb(229, 249, 189);
    --orange-pc: rgb(237, 160, 69);
    --rose-pc: rgb(223, 101, 74);
    --fucsia-pc: rgb(204, 55, 109);
}
/* ==================================================
  colores
  azul aguamarina: rgb(20, 158, 128)
  verde-satart-grad: #18af59
  verde-satart-grad-dark: rgb(19, 132, 68)
  green-two: rgb(0, 66, 20)
  green-three: rgb( 0, 130, 50)
  black-six: rgb( 24, 14, 14)
  green-seven: rgb( 176, 203, 59)
  ================================================== */

/* ==================================================
  general
    body
    edge
  background-colors
  width
  otros
    shadows
    hr
    scroll
  cursores
  texto -> estilos personalizados, colores, font-size
  margin & padding
  aligment
  button
  accordion
  personalizado
  modal
  card
  ================================================== */
body{
  overflow-x: auto;
  font-family: sans-serif, "Open Sans", Helvetica, Arial;
  min-width: 800px !important;
}
li, a, div, h1, h2, h3, h4, h5, h6{
  font-family: sans-serif, "Open Sans", Helvetica, Arial;
}
.edge{
  border: dashed var(--main-green);
}

/* ==================================================
  background-colors
  ================================================== */
.bg-red{
  background-color: red;
}
.bg-yellow{
  background-color: yellow;
}
.bg-gray{
  background-color: var(--gray-ligth);
}

.bg-ligth{
  background-color: var(--green-ligth);
}
.bg-green-fluor{
  background-color: var(--green-fluor);
}
.bg-green-dark{
  background-color: var(--green-dark);
}
.bg-pc{
  background-color: var(--black-pc);
}

.bg-green-pc{
  background-color: var(--green-pc);
}
.bg-orange-pc{
  background-color: var(--orange-pc);
}
.bg-rose-pc{
  background-color: var(--rose-pc);
}
.bg-fucsia-pc{
  background-color: var(--fucsia-pc);
}

/* ==================================================
  width & margin
  ================================================== */
.w-100{
  width: 100% !important;
}
.w-95{
  width: 95% !important
}
.w-90{
  width: 90% !important
}
.w-80{
  width: 80% !important
}
.w-50{
  width: 50% !important;
}
.w-12{
  width: 12% !important
}
.h-90{
  height: 90% !important
}
.h-95{
  height: 95% !important
}

/* ==================================================
  otros
  ================================================== */
.sdw{
  box-shadow: 0 0 10px var(--gray-shadow);
  z-index: 1;
}
hr{
  border-color: var(--green-hr);
}
.scroll{
  overflow-y: scroll;
}
.my_visible{
  visibility: hidden;
}
.my_visible:hover{
  visibility: visible;
}
/* ==================================================
  cursores
  ================================================== */
.pointer{
  cursor: pointer;
}

/* ==================================================
  texto & colores
  ================================================== */
.navbar-title{
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
  color: white;
}
.title{
  color: rgb( 24, 14, 14) !important;
}
.text{
  font-size: 13px;
  color: rgb(121, 121, 121);
}
.title-welcome{
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
}
.title-signin{/*y login*/
  color: var(--green-dark);
  font-family: 'Fredericka the Great', cursive;
}
.title-login{
  color: var(--rose-pc);
  font-family: 'Fredericka the Great', cursive;
}

.dark-gray{
  color: var(--green-dark);
}
.green-fluor{
  color: var(--green-fluor);
}
.white{
  color: white !important;
}

.fs-20{
  font-size: 20px;
}
.fs-15{
  font-size: 15px;
}
.fs-13{
  font-size: 13px;
}

/* ==================================================
  margin & padding
  ================================================== */
.m-0{
  margin: 0 !important;
}
.m-0-10{
  margin: 0 10px !important;
}
.m-0-50{
  margin: 0 50px !important;
}
.ml-5{
  margin-left: 5px !important;
}
.ml-15{
  margin-left: 15px !important;
}
.ml-30{
  margin-left: 30px !important;
}

.p-0{
  padding: 0 !important
}
.p-10{
  padding: 10px !important;
}
.p-20{
  padding: 20px !important;
}
.p-50{
  padding: 50px !important;
}
.p-10-10-10-20{
  padding: 10px 10px 10px 20px
}
.p-0-10{
  padding: 0 10px !important;
}
.p-0-20{
  padding: 0 20px !important;
}
.pl-30{
  padding-left: 30px !important;
}

/* ==================================================
  aligment
  ================================================== */
.rigth{
  text-align: right;
}
.center{
  text-align: center;
}
.center-vertical{
  /*padding: 70px 0;
  border: 3px solid green;
  text-align: center;*/
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
/* ==================================================
  buttons
  ================================================== */
.btn-welcome {
  margin: 5px;
  width: 60%;
  border: none;
  border-radius: 10px;
  /*border: solid 3px var(--black-pc);*/
  background-color: var(--green-dark);
  padding: 5px 15px;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
  color: white;
  position:relative;
  box-shadow: 5px 5px 0px var(--gray-shadow-dark);

  -webkit-transition: background 1s, top 0.2s; /* Safari */
  transition: background 1s, top 0.2s;
}
.btn-welcome:hover {
  top: 3px;
  left: 3px;
  cursor: pointer;
  background: var(--fucsia-pc);
  box-shadow: 2px 2px 0px var(--gray-shadow-dark);
}

.btn-signin { /*y login*/
  margin: 3px;
  width: 40%;
  border: none;
  border-radius: 10px;
  background-color: var(--black-pc);
  padding: 5px 15px;
  font-size: 20px;
  font-family: 'Fredericka the Great', cursive;
  color: white;
  position:relative;
  box-shadow: 5px 5px 0px var(--gray-shadow-dark);

  -webkit-transition: background 1s, top 0.2s; /* Safari */
  transition: background 1s, top 0.2s;
}
.btn-signin:hover {/*y login*/
  top: 3px;
  left: 3px;
  background-color: var(--green-dark);
  cursor: pointer;
  box-shadow: 2px 2px 0px var(--gray-shadow-dark);
}

.btn-accordion, .btn-accordion:link, .btn-accordion:visited, .btn-accordion:active{
  width: 100%;
  border: 0 solid transparent !important;
  outline: none !important;
  padding: 0 !important;
  background-color: transparent;
  text-align: left;
  font-size: 18px !important;
  color: white !important;
}
.btn-accordion:hover{
  cursor: pointer;
  outline:  !important;
}

.btn{
  margin: 0 5px;
  border-radius: 5px;
}

.btn-default, .btn-default:link, .btn-default:visited, .btn-default:active{
  margin: 5px;
  border: 1px solid var(--main-green);
  background-color: white;
  padding: 0 5px;
  font-weight: bold;
  color: var(--main-green);
}
.btn-default:hover{
  background-color: var(--main-green);
  color: white;
}

.btn-inverse, .btn-inverse:link, .btn-inverse:visited, .btn-inverse:active{
  height: 38px;
  border: 1px solid white;
  background: transparent;
  color: white;
}
.btn-inverse:hover{
  background: white;
  color: var(--main-green);
}

.btn-small, .btn-small:link, .btn-small:visited, .btn-small:active{
  border: 1px solid var(--main-green);
  background-color: white;
  font-weight: bold;
  color: var(--main-green);
}
.btn-small:hover{
  background-color: var(--main-green);
  color: white;
}

/* ==================================================
  accordion
  ================================================== */

.my-card-header{
  margin-bottom: 1px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--main-green);
  padding: 10px !important;
}

/* ==================================================
  navbar
  ================================================== */
.my-navbar{
  width: 100%;
  padding: 20px;
  background: var(--green-fluor);
}
.navbar-brand {
  font-size: 30px;
  color: white !important;
  font-weight: bold;
}

#profileMenu{
  height: 40px;
  width: 40px;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px;
}

/* ==================================================
  personalizado
  ================================================== */
.menu {
  box-shadow: 0 0 10px var(--gray-shadow);
  height: 85vh;
  overflow-y: scroll;
  padding: 10px !important;
  padding-left: 30px !important;
  background: var(--black-pc);
}

/* ==================================================
  modal
  ================================================== */
.modal-welcome{
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  max-width: 500px;
  line-height: 450px;
  height: 450px;
  border-radius: 20px;
  background: var(--black-pc);
  box-shadow: 0 0 10px var(--gray-shadow);
}

.modal-signin{
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  max-width: 500px;
  line-height: 450px;
  height: 450px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 0 10px var(--gray-shadow);
}

  .Modal {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
  max-width: 500px;
  line-height: 450px;
  height: 450px;
  border-radius: 20px;
  background:  white;
  box-shadow: 0 0 10px var(--gray-shadow);
}

.dialogIsOpen {
  -webkit-filter: blur(5px) grayscale(50%);
  /*-webkit-transform: scale(0.9);*/
}

.Modal-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -25px;
  top: -25px;
  border: 2px solid white;
  border-radius: 50%;
  background: var(--main-green);
  color: white;
  cursor: pointer;
}

.Modal-close:after {
  content: "x";
  font-weight: bold;
  font-size: 25px;
}

#modalCard {
  height: 410px !important;
  width: inherit !important;
}

/* ==================================================
  card
  ================================================== */
.card-header{
  background-color: white !important;
  border: 0 !important;
}
.list-group-item{
  border: 0 !important;
}

.parent {
  position: relative;
  height: 200px;
}

.absolute {
  position: absolute;
  width: 50%;
  bottom: 10px;
}

/* ==================================================
  card
  ================================================== */
.flex-box {
  display: flex;
  background-color: DodgerBlue;
}

/* ==================================================
  form
  ================================================== */
.form-control-signin{/*y login*/
  margin: 3px;
  width: 80%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  background-color: #fff;
  background-clip: padding-box;
  line-height: 1.5;
  font-size: 20px;
  color: var(--black-pc);

  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
